
@{
}


<!-- REQUIREMENTS:
    This page will list out all of the appointments that have been
    made. Each appointment should have an option to Edit or Delete that appointment.
-->


<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="5" class="text-center">Appointments</th>
        </tr>
    </thead>


    <tbody>

        <tr>
            <th>Date</th>
            <th>Group Name</th>
            <th>Size of Group</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Time</th>
        </tr>
        
        <!-- add database records-->
        <!-- add edit and delete buttons -->

    </tbody>

</table>


